
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax shop">
        <div class="parallax shop">
            <div class="row">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container justify-content-center pt-5">
        <div class="row">
            <div class="col-lg-2">
                <h3>Kategoria</h3>
                <hr />
                <div class="list-group pt-2">
                    @Html.Action("CategoriesMenu","Store")
                    
    
    
                    @*<a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Wszystkie
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Pierwsza kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Druga kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Trzecia kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Czwarta kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Piąta kategoria</a>
                    <a href="#" class="list-group-item list-group-item-action">Szósta kategoria</a>*@
                </div>
            </div>
            <div class="col-lg-10 ps-5">
                <div class="row pt-5 justify-content-center">
                    <div class="card mb-3 shadow-lg" style="max-width: 840px;">
                        <div class="row g-0">
                            <div class="col-md-4 pt-5">
                                <img src="@Url.Content("~/Content/Images/Products/whey_protein.jpg")" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 pt-5">
                                <div class="card-body">
                                    <h3 class="card-title">Whey Protein Complex 100%</h3><br />
                                    <p class="card-text">
                                        Do produkcji białka od Olimp użyto surowców naprawdę wysokiej jakości, odznaczających się dużą czystością.
                                        Wszystko dzięki zastosowaniu nowatorskiej technologii, bogatej wiedzy i wieloletniemu doświadczeniu naukowców z Olimp Labs.
                                        Białko zawarte w Whey Protein Complex pochodzi z dwóch źródeł – izolatu CFM i koncentratu białka serwatki.
                                        Pozwalają one na uzupełnienie codziennej diety w bardzo ważne dla niej proteiny.<br />
                                    </p>
                                    <p class="card-text"><small class="text-muted">Wysyłka w ciągu 24h</small></p>
                                    <div class="row text-end">
                                        <div class="col-12 p-3">
                                            <h2>150.00 zł</h2>
                                        </div>
                                        <div class="col-12 p-3">
                                            <a href="#" class="btn btn-primary btn-lg"><i class="fas fa-shopping-cart"></i> Dodaj do koszyka </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row g-0 p-5">
                            <p>
                                Whey Protein Complex 100% idealnie sprawdzi się jako alternatywa dla śniadania lub innego posiłku.
                                Jeżeli rano zmuszasz się do zjedzenia czegokolwiek to ucieszy Cię wiadomość, że możesz wypić coś pożywnego.
                                W jednej porcji znajdziesz aż 26 gramów białka, niewiele węglowodanów i jeszcze mniej cukrów!
                            </p>

                            Porcja: 35g
                            Porcji w opakowaniu: 64
                            Opakowanie: 2270g
                            </p>
                            <p>
                                Składniki: 95% preparaty białkowe (ultrafiltrowany koncentrat białek serwatkowych z WPC (z mleka), izolat białek serwatkowych WPI-CFM,
                                karboksymetylocelulozy; substancje słodzące – acesulfam K, sukraloza, cyklaminiany (Z), emulgator – lecytyny (z soi), sól,
                                barwniki: karoteny, koszenila, ryboflawiny, E150c, E 150d, E 133, błękit pantenowy V, indygokarmin, chlorofile i chlorofiliny, kurkumina, antocyjany, ekstrakt z papryki, betanina, węgiel roślinny,
                            </p>
                        </div>*@
                        <div class="row g-0 p-5">
                            <div class="d-grid gap-2 col-4 p-3 mx-auto">
                                <a class="btn btn-dark" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Opis</a>
                            </div>
                            <div class="d-grid gap-2 col-4 p-3 mx-auto">
                                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Skład</button>
                            </div>
                            <div class="d-grid gap-2 col-4 p-3 mx-auto">
                                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Parametry</button>
                            </div>
                        </div>
                        <div class="row p-5 justify-content-center">
                            @*<p>
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Opis</a>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Skład</button>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Parametry</button>
                            </p>*@
                            <div class="row justify-content-center">
                                <div class="col-12 text-start">
                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                        <div class="card card-body">
                                            Whey Protein Complex 100% idealnie sprawdzi się jako alternatywa dla śniadania lub innego posiłku.
                                            Jeżeli rano zmuszasz się do zjedzenia czegokolwiek to ucieszy Cię wiadomość, że możesz wypić coś pożywnego.
                                            W jednej porcji znajdziesz aż 26 gramów białka, niewiele węglowodanów i jeszcze mniej cukrów!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-start">
                                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                                        <div class="card card-body">
                                            Składniki: 95% preparaty białkowe (ultrafiltrowany koncentrat białek serwatkowych z WPC (z mleka), izolat białek serwatkowych WPI-CFM,
                                            karboksymetylocelulozy; substancje słodzące – acesulfam K, sukraloza, cyklaminiany (Z), emulgator – lecytyny (z soi), sól,
                                            barwniki: karoteny, koszenila, ryboflawiny, E150c, E 150d, E 133, błękit pantenowy V, indygokarmin, chlorofile i chlorofiliny, kurkumina, antocyjany, ekstrakt z papryki, betanina, węgiel roślinny,
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-start">
                                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                                        <div class="card card-body">
                                            Porcja: 35g
                                            Porcji w opakowaniu: 64
                                            Opakowanie: 2270g
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

