html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, menu, nav, section,
time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}
html, body {
    height: 100%;
    width: 100%;
}


/* START HEADER */

.top-header {
    font-weight: 400;
    color: whitesmoke;
    background-color: rgb(61, 60, 60);
    
}

    .top-header a {
        color: whitesmoke;
    }

.bottom-header {
    background-color: #969a9e;
    font-size: 1.1rem;
    font-weight: 600;
}

/* END HEADER */


/* START FOOTER */
.full-footer {
    background-color: #969a9e;
}

.top-footer {
    background-color: #969a9e;
    color: white;
    font-weight: 600;
}

    .top-footer a {
        color: white;
    }

.bottom-footer {
    background-color: rgb(61, 60, 60);
    color: white;
    font-weight: 600;
}
/* END FOOTER */
