html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, menu, nav, section,
time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}
html, body {
    height: 100%;
    width: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}



/* START HEADER */

.top-header {
    
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    
    
}

    .top-header a {
        font-weight: 500;
        color: whitesmoke;
        text-decoration: none;
    }

.bottom-header {
    background-color: #000000;
    font-size: 1.1rem;
    font-weight: 600;   
    
}

ul.navbar-nav li a:hover, ul.nav li a:active {
    color: greenyellow !important;
}



.top-header a:hover, .top-header a:active {
    color: greenyellow !important;
}
.nav-link {
    color:whitesmoke !important;
}

/* END HEADER */


/* START FOOTER */


.full-footer a:hover, .full-footer a:active {
    color: greenyellow !important;
}
.full-footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    clear: both;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.top-footer {
    background-color: rgb(0, 0, 0);   
    color: white;
}

    .top-footer a {
        color: white;
        font-weight:600;
        text-decoration:none;
        
    }

.bottom-footer {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
}
/* END FOOTER */


/*HOME PAGE*/

/*@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:15px;
    
}

.our-services {
    margin-top: 15px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 138px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

    .our-services .icon {
        margin-bottom: -21px;
        transform: translateY(-90%);
        text-align: center
    }

    .our-services:hover h4,
    .our-services:hover p {
        color: #fff
    }

.speedup:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.privacy:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.backups:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.ssl:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
}

.database:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}
