html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, menu, nav, section,
time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    height: 100%;
    width: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 400px; /*this needs to be bigger than footer height*/
}



/* START HEADER */

.top-header {
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
}

    .top-header a {
        font-weight: 500;
        color: whitesmoke;
        text-decoration: none;
    }

.bottom-header {
    background-color: #000000;
    font-size: 1.1rem;
    font-weight: 600;
}

ul.navbar-nav li a:hover, ul.nav li a:active {
    color: greenyellow !important;
}



.top-header a:hover, .top-header a:active {
    color: greenyellow !important;
}

.nav-link {
    color: whitesmoke !important;
}

.nav-item .dropdown-menu a:hover, .dropdown-menu a:active {
    color: black !important;
}

/* END HEADER */


/* START FOOTER */


.full-footer a:hover, .full-footer a:active {
    color: greenyellow !important;
}

.full-footer {
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    clear: both;
    /*padding-top: 20px;*/
    color: rgb(0, 0, 0);
}

.top-footer {
    background-color: white;
}

.middle-footer {
    background-color: rgb(0, 0, 0);
    color: white;
}

    .middle-footer a {
        color: white;
        font-weight: 600;
        text-decoration: none;
    }

.bottom-footer {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
}
/* END FOOTER */


/* START HOME PAGE*/

/*@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.our-services {
    margin-top: 15px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 138px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

    .our-services .icon {
        margin-bottom: -21px;
        transform: translateY(-90%);
        text-align: center
    }

    .our-services:hover h4,
    .our-services:hover p {
        color: #fff
    }

.speedup:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.privacy:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.backups:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.ssl:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
}

.database:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}


.parallax {
    height: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.index {
    background-image: url("Images/gym_head3.jpg");
}


#subsc h1 {
    font-weight: 600;
}

/* END HOME PAGE*/




/* START PRICES */

.prices {
    height: 35vw;
    background-image: url("Images/gym_head4.jpg");
}

.card-header {
    font-weight: 800;
    font-size: medium;
}

.card-title {
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    .card h3 {
        font-weight: 600;
    }


.card {
    background-repeat: no-repeat;
    background-position: right;
}

.student:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.open:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.open-max:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.backside .student {
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.backside .open {
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.backside .open-max {
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

/*END PRICES*/



/* START ABOUT US*/

.about-us {
    height: 35vw;
    background-image: url("Images/gym_head5__.jpg");
}

.about h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* END ABOUT US*/



/*START CONTACT PAGE */

.contact {
    height: 35vw;
    background-image: url("Images/gym_head6.jpg");
}

.bar {
    font-weight: 800;
    border-radius: 17px;
    color: rgb(86, 91, 95);
}

.contact .bar {
    color: rgb(86, 91, 95);
}

.shadow {
    font-size: 20px;
}

.card .kontakt h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

.card .kontakt p {
    font-weight: 600;
}

.card .kontakt {
    height: 15rem;
}

/*END CONTACT*/



/*START INDIVIDUALEXERCICES PAGE */

.individual {
    text-align: justify;
}

    .individual h3 {
        font-size: 200%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .individual p {
        font-size: 0.9rem;
    }

.exercises {
    height: 35vw;
    background-image: url("Images/Offers/offer3.jpg")
}

/*END INDIVIDUALEXERCICES PAGE */


/*START PERSONALEXERCICES PAGE */

.personaltrain {
    text-align: justify;
}

    .personaltrain h3 {
        font-size: 200%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .personaltrain p {
        font-size: 1rem;
    }

.exercises {
    height: 35vw;
    background-image: url("Images/Offers/offer3.jpg")
}

/*END PERSONALEXERCICES PAGE */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');




/*START GROUPEXERCICES PAGE */

.first-group {
    background-color: gainsboro;
}

    .first-group h4, .first-group h3, .first-group h2 {
        font-size: 150%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

.second-group {
    background-color: white;
}

    .second-group h4, .second-group h3, .second-group h2 {
        font-size: 150%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

.exercises {
    height: 35vw;
    background-image: url("Images/Offers/offer3.jpg")
}


/*END GROUPEXERCICES PAGE */



/*START RELAX PAGE */

.relax {
    height: 35vw;
    background-image: url("Images/Offers/offer4__.jpg")
}

.relax-sub h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*END RELAX PAGE */


/*START SHOP PAGE */

.shop {
    height: 35vw;
    background-image: url("Images/Offers/gym-supplements.jpg");
}


.shop-sub h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#product-name {
    text-decoration: none;
    color: black;
}

#search-form {
    float: right;
    padding: 2px 5px 2px 2px;
    border: 1px solid #e0e0e0;
}

    #search-form input[type=search] {
        border: none;
        height: 25px;
        width: 264px;
    }

    #search-form input[type=submit] {
        width: 20px;
        border: none;
        height: 20px;
        padding: 5px;
        background-size: 100% 100%;
        background: transparent url(Images/searchlogo.png) no-repeat;
    }

/*END SHOP PAGE */



/*START BREADCRUMB*/
.breadcrumb p {
    color: #8ee901 !important;
    font-size: 25px !important;
    text-decoration: none;
}

.breadcrumb a {
    text-decoration: none !important;
    color: dimgrey !important;
}


/*END BREADCRUMB*/


/*START CART*/

.cart {
    font-size:larger;
}

.cart thead tr th {
    font-weight:600 !important;
}

.cart tbody tr th, td {
    font-weight:600 !important;  
}
.cart .name  {
    text-decoration:none;
    color:black;
    
}

.cart img{
    width:30%;
}

.order-confirmation h2 {
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*END CART*/




/*START LOGIN*/

.card-body form {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*END LOGIN*/



/* START VALIDATION */

.field-validation-error {
    color:red;
    font-weight:bold;
    font-size:80%;
}

.input-validation-error {
    background: #f8f3f4;
    border: 1px solid red;
}

/* END VALIDATION */




/* START MANAGE */

.manage-message{
    color:#8ee901;
}

.orders {
    font-size: medium;
}

.orderlist h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.orders {
    background-color: #f8f3f4;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    -webkit-transition-duration: 3s;
    transition-duration: 3s;

}
    .orders thead tr th {
        font-weight: 800 !important;
    }

    .orders tbody tr th, td {
        font-weight: 600 !important;
    }

    .orders .name {
        text-decoration: none;
        color: black;
    }

    .orders img {
        width: 20%;
    }

#product-img {
    width:60%;
}

#orderCompleted {
    background-color: forestgreen;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
    color: white !important;
}
#orderCompleted a{
    color: white !important;
}
/* END MANAGE */




.list-group a:hover, .list-group a:active {
    background-color: yellowgreen !important;
}


#team {
    height: 30vw;
}

/*#team .card {
    border: none;
    background: #ffffff;
}*/

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}

.backside {
    position: relative;
    top: -220px;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/*@media (min-width: 1200px) and (max-width: 4000px) {

    #team {
        height: 40vw;
    }

    .image-flip {
        min-height: 452px;
    }
}
@media (min-width: 950px) and (max-width: 1250px) {

    #team {
        height: 80vw;
    }

    .image-flip {
        min-height: 452px;
    }
}
@media (min-width: 750px) and (max-width: 1000px) {

    #team {
        height: 80vw;
    }

    .image-flip {
        min-height: 452px;
    }
}

@media (min-width: 550px) and (max-width: 800px) {

    #team {
        height: 250vw;
    }

    .image-flip {
        min-height: 452px;
    }
}
@media (min-width: 250px) and (max-width: 500px) {

    #team {
        height: 300vw;
    }

    .image-flip {
        min-height: 452px;
    }
}
*/








@media (min-width: 500px) and (max-width: 820px) {
    .carousel-caption {
        top: 72%;
        transform: translateY(-42%);
    }

        .carousel-caption h1 {
            font-size: 400%;
        }

        .carousel-caption p {
            font-size: 100%;
            font-weight: 600;
            padding-bottom: .2rem;
        }

        .carousel-caption .btn {
            font-size: 80%;
            padding: 8px 12px;
        }
}

@media (min-width: 400px) and (max-width: 550px) {
    .carousel-caption {
        top: 72%;
        transform: translateY(-42%);
    }

        .carousel-caption h1 {
            font-size: 400%;
        }

        .carousel-caption p {
            font-size: 100%;
            font-weight: 600;
            padding-bottom: .2rem;
        }

        .carousel-caption .btn {
            font-size: 50%;
            padding: 8px 12px;
        }
}

@media (min-width: 200px) and (max-width: 400px) {
    .carousel-caption {
        top: 72%;
        transform: translateY(-42%);
    }

        .carousel-caption h1 {
            font-size: 400%;
        }

        .carousel-caption p {
            font-size: 100%;
            font-weight: 600;
            padding-bottom: .2rem;
        }

        .carousel-caption .btn {
            font-size: 40%;
            padding: 8px 12px;
        }
}
