
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container pt-5">
        <div class="col-md-12 mx-auto pb-5 pt-5">
            <div class="card shadow-lg pt-3">
                <div class="card-body">
                    <div class="row order-confirmation text-center pb-5 pt-3">
                        <h2>Dziękujemy! Zapraszamy po odbiór zamówienia!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

