@model IEnumerable<ProGym.Models.Product>
@using ProGym.Infrastructure
@{
    ViewBag.Title = "ProductList";
}



@foreach (var product in Model)
{
    <div class="col-xl-3 col-md-6 p-3">
        <div class="card h-100">
            <img src="@Url.ProductPhotoPath(product.PhotoFileName)" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-title">@product.Name</p>
                <a href="@Url.Action("AddToCart", "Cart", new { id = product.ProductID })" class="btn btn-sm btn-primary">Kup teraz</a>
            </div>
        </div>
    </div>
}
