
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax contact">
        <div class="parallax contact">
            <div class="row">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-3 p-2">
                <div class="shadow-sm card kontakt">
                    <div class="shadow p-3 bg-white roundedcard-body kontakt text-center">
                        <h3><i class="fas fa-map-marker-alt"></i></h3><br>
                        <h4 class="card-title text-center"><b> Nasz adres</b></h4>
                        <p class="card-text text-center">ul.Słoneczna 73 35-082 Rzeszów</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 p-2">
                <div class="shadow-sm card kontakt">
                    <div class="shadow p-3 bg-white roundedcard-body kontakt text-center">
                        <h3><i class="fas fa-door-open"></i></h3>
                        <br>
                        <h4 class="card-title text-center"><b>Godziny otwarcia</b></h4>
                        <p class="card-text">Pon - Sob 8:00 - 22:00 <br />Niedziela nieczynne</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-2">
                <div class="shadow-sm card kontakt">
                    <div class="shadow p-3 bg-white roundedcard-bodycard-body kontakt text-center">
                        <h3><i class="fas fa-envelope"></i></h3><br>
                        <h4 class="card-title text-center"><b> Napisz do nas</b></h4>
                        <p class="card-text text-center">example@gmail.com</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-2">
                <div class="shadow-sm card kontakt">
                    <div class="shadow p-3 bg-white roundedcard-body card-body kontakt text-center">
                        <h3><i class="fas fa-phone"></i></h3><br>
                        <h4 class="card-title text-center"><b>Zadzwoń do nas</b></h4>
                        <p class="card-text">+48 (17)84595423</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-2">
                <div class="shadow-sm card kontakt" style="height: 100%;">
                    <div class="shadow p-3 bg-white roundedcard-body kontakt text-center" style="height: 100%;">
                        <div class="ratio ratio-16x9" style="height: 100%;">
                            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164116.5192597883!2d21.84837229017227!3d50.00534563135541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfae3cc14d449%3A0xd2240d31b33eb2ed!2zUnplc3rDs3c!5e0!3m2!1spl!2spl!4v1631042990488!5m2!1spl!2spl" height="100%" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-2">
                <div class="shadow-sm card kontakt-form">
                    <div class="shadow p-3 bg-white roundedcard-bodycard-body kontakt-form text-center">
                        <form action="">
                            <div class="form-row">
                                <div class="form-group col-md-6 pb-2">
                                    <input type="text" class="form-control" placeholder="Dane *">
                                </div>
                                <div class="form-group col-md-6 pb-2">
                                    <input type="text" class="form-control" placeholder="Numer telefonu*">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 pb-2">
                                    <input type="text" class="form-control" placeholder="Adres e-mail  *">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 pb-2">
                                    <input type="text" class="form-control" placeholder="Temat wiadomości  *">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-row pt-5">
                                <div class="form-group col-md-12 text-center">
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-paper-plane"></i> Wyślij wiadomość</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
