
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="@Url.Content("~/Content/Images/gym_head2rrCiemneNapis.jpg")" alt="First slide">
                <div class="carousel-caption">
                    <div id="buttonRegistry">
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <a href="" class="btn btn-outline-light btn-lg">Zacznij już teraz!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid mb-5">
        <div class="text-center mt-5 mb-5">
            <h1>Pro Gym</h1>
        </div>       
       <div class="row">
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="~/Content/Images/Services/profileBlack80px.png" />
                </div>
                <div class="box">
                    <div class="our-services settings">
                        <h4>Osobiste konto</h4>
                        <p>Zarządaj swoim kontem, monitoruj swoje osiągnięcia, dokonuj rezerwacji i wiele innych</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="~/Content/Images/Services/training.png" />
                </div>
                <div class="box">
                    <div class="our-services speedup">
                        <h4>Siłownia</h4>
                        <p>Ćwicz i pokonuj własne granice na najlepiej wyposażonej i najnowocześniejszej siłowni w mieście</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="~/Content/Images/Services/fight.png" />
                </div>
                <div class="box">
                    <div class="our-services privacy">
                        <h4>Sztuki walki</h4>
                        <p>Zapisz się do sekcji sztuk walki gdzie rozwiniesz swoje umięjętności na profesjonalnie przygotowanej do tego sali </p>
                    </div>
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="~/Content/Images/Services/personaTrainer.png" />
                </div>
                <div class="box">
                    <div class="our-services backups">
                        <h4>Trenerzy personalni</h4>
                        <p>Weż udział w zajęciach pod okiem profesjonalnego osobistego trenera, który pokaże Ci oraz nauczy jak najefektywniej wykorzystywać czas spędzony na siłowni</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="~/Content/Images/Services/personaTrainer.png" />
                </div>
                <div class="box">
                    <div class="our-services ssl">
                        <h4>Strefa SPA</h4>
                        <p>Skorzystaj z naszej oferty między innymi masaży oraz sauny</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon">
                    <img src="~/Content/Images/Services/personaTrainer.png" />
                </div>
                <div class="box">
                    <div class="our-services database">
                        <h4>Zajęcia grupowe</h4>
                        <p>Skorzystaj z naszej oferty rozbudowanych zajęć, gdzie na pewno znajdziesz coś dla siebie </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div>

    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac,
    aliquam sit amet justo nunc tempor, metus vel.

</div>
<div>
    Ut arcu enim, dictum quis ultrices id, sagittis eget nulla sed nunc mi, congue ut ultricies ac, varius a eros donec porttitor,
    libero fermentum fringilla laoreet, eros arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget elementum euismod,
    orci enim vestibulum orci, nec suscipit urna odio et tellus suspendisse suscipit orci sit amet sem venenatis nec lobortis sem suscipit nullam nec
    imperdiet velit mauris eu nisi a felis imperdiet porta at ac nulla vivamus faucibus felis nec dolor pretium eget pellentesque dolor suscipit maecenas
    vitae enim arcu, at tincidunt nunc pellentesque eleifend vulputate lacus, vel semper sem ornare sit amet proin sem sapien, auctor vel faucibus id,
    aliquet vitae ipsum etiam auctor ultricies ante, at dapibus urna viverra sed nullam mi arcu, tempor vitae interdum a, sodales non urna vestibulum
    dignissim auctor mauris, ac elementum purus fermentum vitae duis placerat laoreet risus, sit amet eleifend tellus lobortis non vivamus iaculis dapibus l
    eo a ornare cras vel sem at felis convallis mollis posuere ultrices dolor sed tellus arcu, accumsan a consectetur sit amet, volutpat eget lorem phasellus quis ipsum orci integer
    sodales tincidunt nibh a elementum ut ac libero nec orci euismod euismod nec at nulla duis.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac
    ante fusce non varius purus aenean nec magna felis fusce vestibulum.
</div>


