
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<h2>Index</h2>
<div>

</div>

Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.    

