
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax contact">
        <div class="parallax contact">
            <div class="row">

            </div>
        </div>
    </div>
</section>


