
@{
    ViewBag.Title = "Relaks";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container-fluid parallax relax">
        <div class="parallax relax">
            <div class="row">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container relax-sub pt-5 pb-5">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <h1>Strefa relaksu – ważny element treningu</h1>
            </div>
            <div class="col-12 pt-5 justify-content-center">
                <p>
                    Ważną częścią każdego treningu jest odpoczynek i rozluźnienie. Uspokojenie oddechu oraz porządne rozciągnięcie zmęczonych mięśni to niezbędne podsumowanie każdych ćwiczeń.<br />
                    W klubie Pro Gym możesz skorzystać z sauny, solarium, jacuzzi oraz oferty masaży. Wizyta w jacuzzi, saunie lub skorzystanie z masażu pozwoli natomiast zadbać o mięśnie i zapobiegnie bolesnym zakwasom.<br />
                    Wyciszenie sprawi, że zadowolenie z treningu będzie jeszcze większe.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>SAUNA</h2>
                <hr />
                <p>Zajęcia skupiają się na wzmocnieniu mięśni pleców. Ćwiczenia wykonywane podczas zajęć modelują brzuch oraz plecy i świetnie nadają się dla osób mających problemy z kręgosłupem</p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/sauna_.jpg")" alt="" />
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>JACUZZI</h2>
                <hr />
                <p>BPU – brzuch, pośladki, uda Trening, który maksymalne wzmocni główne partie mięśni, zapewni dobry wygląd, siłę oraz poprawi samopoczucie. Ćwiczenia wykonywane podczas zajęć modelują brzuch, pośladki, talię oraz uda i świetnie nadają się dla osób o każdym poziomie zaawansowania.</p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/jacuzzi_.jpg")" alt="" />
            </div>
        </div>
    </div>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>MASAŻ</h2>
                <hr />
                <p>Zajęcia skupiają się na wzmocnieniu mięśni pleców. Ćwiczenia wykonywane podczas zajęć modelują brzuch oraz plecy i świetnie nadają się dla osób mających problemy z kręgosłupem</p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/massage2_.jpg")" alt="" />
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-2">
            <div class="col-lg-4 col-md-6 pe-5 pb-2">
                <h2>SOLARIUM</h2>
                <hr />
                <p>BPU – brzuch, pośladki, uda Trening, który maksymalne wzmocni główne partie mięśni, zapewni dobry wygląd, siłę oraz poprawi samopoczucie. Ćwiczenia wykonywane podczas zajęć modelują brzuch, pośladki, talię oraz uda i świetnie nadają się dla osób o każdym poziomie zaawansowania.</p>
            </div>
            <div class="col-lg-4 col-md-6 ps-5 pb-2">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/relax/solarium_.jpg")" alt="" />
            </div>
        </div>
    </div>
</section>

