
@{
    ViewBag.Title = "TreningIndywidualny";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-md-6 pt-md-4 p-md-3">
                <img class="img-fluid" src="@Url.Content("~/Content/Images/Offers/offer1.jpg")" alt="">
            </div>
            <div class="col-md-6 individual p-md-3 pt-3 text-justify">
                <h3>Treningi indywidualne</h3><br>
                <p>                   
                    Oddajemy do Państwa dyspozycji jasną, przestronną salę (ponad 200 m2) podzieloną na odpowiednie strefy, wyposażoną w urządzenia najwyższej światowej klasy
                </p><br>
                    <p>         
                       Czekają na Państwa: najnowsza seria urządzeń TECHNOGYM ARTIS STRENGTH COLLECTION oraz najnowsze urządzenia firmy PRECOR, stepery AMT, jak i wszelkie niezbędne akcesoria do treningu funkcjonalnego.<br />
                       Na siłowni znajdziecie Państwo także liczne akcesoria, np. hantle, taśmy, liny, kettle, maty i obręcze, jakie pozwolą zadbać kompleksowo o ciało.
                    </p><br>
                <p>
                    Dla urozmaicenia mogą Państwo przeprowadzić trening z wolnymi ciężarami. W siłowni znajduje się kącik do rozciągania mięśni, umożliwiający bezpieczne przygotowanie do ćwiczeń oraz ich zakończenia.
                </p><br>
                <p>
                    Wszyscy trenerzy służą fachową pomocą dotyczącą sprzętu oraz techniki wykonywania ćwiczeń.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 p-3 individual">
                <h3>Strefy do treningu indywidualnego:</h3><br>
                <p><i class="fas fa-check-circle"></i> Strefa wolnych ciężarów</p>
                <p><i class="fas fa-check-circle"></i> Strefa Cross&Fit</p>
                <p><i class="fas fa-check-circle"></i> Strefa Fitness </p>
                <p><i class="fas fa-check-circle"></i> Strefa Cardio</p>
            </div>
        </div>
    </div>
</section>

