
@{
    ViewBag.Title = "TreningPersonalny";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}

<section>
<div class="container pt-5">
    <div class="row pt-5">
        <div class="col-md-6 pt-md-4 p-md-3">
            <img class="img-fluid"  src="@Url.Content("~/Content/Images/Offers/offer2.jpg")" alt="">
        </div>
        <div class="col-md-6 personaltrain p-md-3 pt-3">
            <h3>Treningi personalne</h3><br>
            <p>
                Zaczynasz swoją przygodę na siłowni i nie wiesz jak się do tego zabrać?<br />
                A może Twoje treningi stały się nudne i nie przynoszą zamierzonych efektów?
            </p>
            <p>
                Nasi Trenerzy Personalni pomogą określić Twój cel, ułożą plan treningowy, nauczą poprawnie wykonywać ćwiczenia oraz zmotywują Cię do działania.
            </p>
            <p>
                Nasza siłownia dostosowana jest do wszelkich potrzeb naszych klientów. Zarówno osoby które pierwszy raz mają styczność z siłownią, osoby z problemami zdrowotnymi oraz osoby trenujące od dłuższego czasu znajdą pomoc wśród naszej wykwalifikowanej kadry.
            </p>
            <p>
                Jak zacząć? Od spotkania z naszym koordynatorem. Po krótkim wywiadzie na temat stylu życia, zdrowia, wcześniejszej aktywności fizycznej oraz oczekiwań względem treningu, zostaniesz wprowadzony w świat możliwości oferowanych przez nasz klub.
            </p>
        </div>
    </div>
</div>
</section>

<section>
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 p-3 personaltrain">
                <h3>Zalety treningu personalnego:</h3><br>
                <p><i class="fas fa-check-circle"></i> Pakiet treningowy dostosowany do Twoich potrzeb</p>
                <p><i class="fas fa-check-circle"></i> Indywidualny dobór trenera</p>
                <p><i class="fas fa-check-circle"></i> Pomoc z zakresu dietetyki</p>
                <p><i class="fas fa-check-circle"></i> Pełne wsparcie oraz motywacja </p>
            </div>
        </div>
    </div>
</section>

