
@{
    ViewBag.Title = "ZajeciaGrupowe";
    Layout = "~/Views/Shared/_GymLayout.cshtml";
}


<section>
    <div class="container-fluid parallax exercises">
        <div class="parallax exercises">
            <div class="row">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>ZDROWY KRĘGOSŁUP</h2>
                <hr />
                <p>Zajęcia skupiają się na wzmocnieniu mięśni pleców. Ćwiczenia wykonywane podczas zajęć modelują brzuch oraz plecy i świetnie nadają się dla osób mających problemy z kręgosłupem</p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> wzmocnienie mięśni brzucha,</p>
                <p><i class="fas fa-check-circle"></i> stabilizacja całego ciała,</p>
                <p><i class="fas fa-check-circle"></i> wzmocnienie i odciążenie mięśni pleców,</p>
                <p><i class="fas fa-check-circle"></i> odciążenie i poprawa funkcjonowania kręgosłupa,</p>
                <p><i class="fas fa-check-circle"></i> zmniejszenie ryzyka wad postawy i kontuzji.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>BPU</h2>
                <hr />
                <p>BPU – brzuch, pośladki, uda Trening, który maksymalne wzmocni główne partie mięśni, zapewni dobry wygląd, siłę oraz poprawi samopoczucie. Ćwiczenia wykonywane podczas zajęć modelują brzuch, pośladki, talię oraz uda i świetnie nadają się dla osób o każdym poziomie zaawansowania.</p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> wzmocnienie mięśni brzucha,</p>
                <p><i class="fas fa-check-circle"></i> stabilizacja całego ciała,</p>
                <p><i class="fas fa-check-circle"></i> wysmuklenie ud i pośladków,</p>
                <p><i class="fas fa-check-circle"></i> modelowanie całej sylwetki. </p>
            </div>
        </div>
    </div>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>SZTANGI</h2>
                <hr />
                <p>
                    Energiczne i wzmacniające całe ciało zajęcia z wykorzystaniem lekkich sztang z ciężarem dobieranym wedle własnych indywidualnych potrzeb i możliwości.
                    Duży nacisk kładzie się tutaj na technikę i bezpieczeństwo wykonywanych ćwiczeń. Kończy je krótka sekwencja ćwiczeń wyciszających, relaksacyjnych.
                    Bardzo skuteczny trening skierowany dla kobiet i mężczyzn na każdym poziomie zaawansowania.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> wzmocnienie mięśni</p>
                <p><i class="fas fa-check-circle"></i> wymodelowanie całej sylwetki,</p>
                <p><i class="fas fa-check-circle"></i> polepszenie kondycji i wytrzymałości mięśniowej.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>PILATES</h2>
                <hr />
                <p>Ćwiczenia izometryczne z wykorzystaniem elementów jogi. Łagodne, w rytmie spokojnej muzyki dla osób w każdym wieku.</p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> elastyczne, sprawne ciało,</p>
                <p><i class="fas fa-check-circle"></i> silne mięśnie,</p>
                <p><i class="fas fa-check-circle"></i> poprawna postawa i sylwetka,</p>
                <p><i class="fas fa-check-circle"></i> odciążenie i poprawa funkcjonowania kręgosłupa. </p>
            </div>
        </div>
    </div>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>BOKS</h2>
                <hr />
                <p>
                    Trening rozpoczyna się rozgrzewką wpływającą na wytrzymałość fizyczną, kondycję, poprawę koordynacji ruchowej. Część właściwą treningu stanowi nauka i doskonalenie techniki bokserskiej.
                    Zajęcia kończą się rozciąganiem i ćwiczeniami siłowymi np. ćwiczenia stymulujące pracę mięśni brzucha czy pompki.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> praca nad techniką bokserską,</p>
                <p><i class="fas fa-check-circle"></i> poprawa wydolności organizmu,</p>
                <p><i class="fas fa-check-circle"></i> poprawa koordynacji ruchowej,</p>
                <p><i class="fas fa-check-circle"></i> polepszenie kondycji i wytrzymałości. </p>
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>TABATA</h2>
                <hr />
                <p>
                    Jest to połączenie tradycyjnych ćwiczeń aerobowych z intensywnym treningiem interwałowym. Jest skonstruowana tak, że pozwala na szybkie spalanie tkanki tłuszczowej.
                    Opiera się na czterominutowych interwałach (tabatach), przy czym ćwiczenia wykonywane są w ośmiu różnych sesjach, które stymulują procesy metaboliczne i przyspieszają spalanie tkanki tłuszczowej.
                    Trening angażuje większość grup mięśniowych i znacznie poprawia wydolność organizmu. Tabata polecana jest zarówno dla Pań jak i Panów.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> szybkie spalanie tkanki tłuszczowej,</p>
                <p><i class="fas fa-check-circle"></i> proste, a intensywne ćwiczenia,</p>
                <p><i class="fas fa-check-circle"></i> skuteczne modelowanie sylwetki,</p>
                <p><i class="fas fa-check-circle"></i> utrata wagi.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>MUAY THAI</h2>
                <hr />
                <p>
                    Muay thai oprócz walki bokserskiej i kopnięć wykorzystuje się również kolana, łokcie i walkę w klinczu. Zajęcia rozpoczynają się intensywną rozgrzewka o charakterze ogólnym (np. bieg, podskoki, krążenia ramion/kolan itp.), która zakończona jest rozciąganiem dynamicznym.
                    Następnym elementem treningu jest doskonalenie technik walk "na sucho" (bez partnera), po którym dochodzi już do ćwiczeń w parach.
                    Na koniec wzmacniamy jeszcze całe ciało (przysiady, pompki, brzuszki) i dokładnie rozciągamy w pozycjach statycznych.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> poznanie podstawowych technik uderzania,</p>
                <p><i class="fas fa-check-circle"></i> udoskonalenie nabytych już umiejętności,</p>
                <p><i class="fas fa-check-circle"></i> polepszenie kondycji i wytrzymałości. </p>
            </div>
        </div>
    </div>
    <div class="container-fluid second-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>TBC - Total Body Conditioning</h2>
                <hr />
                <p>
                    Zajęcia ogólnorozwojowe o charakterze wzmacniająco-kształtującym, łączą ćwiczenia aerobowe z rzeźbieniem sylwetki.
                    Skierowane są dla osób początkujących i zaawansowanych. Zaczynają się choreograficzną rozgrzewką, która przygotowuje organizm do dalszego treningu, jej intensywność uzależniona jest od poziomu zaawansowania grupy.
                    W drugiej części lekcji następuje wzmacnianie i praca nad kształceniem mięsni. Ćwiczenia z użyciem obciążników, hantli, ekspanderów lub stepów.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> przyspieszają metabolizm i spalanie tkanki tłuszczowej,</p>
                <p><i class="fas fa-check-circle"></i> wzmacnianie wszystkich partii ciała: ramiona, brzuch, uda i pośladki oraz mięśnie grzbietu.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid first-group p-5">
        <div class="row justify-content-center  pt-5">
            <div class="col-lg-3 col-md-6 pe-5 pb-5">
                <h2>ZUMBA</h2>
                <hr />
                <p>
                    Zajęcia te to absolutny hit na całym świecie. Zumba to zainspirowana latynoskim rytmami fuzja tańca i aerobiku.
                    Łączy w sobie energetyczna i motywującą muzykę z wyjątkowymi ale i prostymi układami choreograficznymi. Zajęcia przeznaczone są dla każdego, bez względu na wiek i poziom zaawansowania treningowego.
                    Zumba to także innowacyjny system fitness który przez świetną zabawę kształtuje sylwetkę i zapewnia dobre samopoczucie. podczas je dnych zajęć można spalić od 450 – 800 kcal.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 ps-5 pb-5">
                <h3>Kiedy warto wziąć udział?</h3>
                <hr />
                <h4>Główne atuty zajęć to:</h4>
                <p><i class="fas fa-check-circle"></i> korygowanie wady postawy,</p>
                <p><i class="fas fa-check-circle"></i> rozciąganie głównych grup mięśniowych,</p>
                <p><i class="fas fa-check-circle"></i> zwiększenie zakresów ruchomości,</p>
                <p><i class="fas fa-check-circle"></i> poprawa mobilności stawów i elastyczności mięśni,</p>
                <p><i class="fas fa-check-circle"></i> zapobiega kontuzjom i pomaga zachować sprawność.</p>
            </div>
        </div>
    </div>
</section>

